<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ config.base_url }}/favicon.ico" sizes="any">
    <link rel="icon" href="{{ config.base_url}}/favicon.svg" type="image/svg+xml">

    {% block head_extra %}{% endblock %}

    <title>TWI Booru Stats</title>

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>

    <!-- CSS links -->
    <link rel="stylesheet" href="{{ config.base_url }}/css/normalize.css">
    <link rel="stylesheet" href="{{ config.base_url }}/css/styles.css">
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour:SCAN@-12&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="favicon">
      <a href="">
        <img src="{{ config.base_url }}/favicon.svg"></img>
      </a>
    </div>
    <nav>
      {% for item in config.extra.navbar_items %}
      {% if lang == item.code %}
      {% for nav in item.nav_items %}
      <a class="navbar-item" href="{{ nav.url | replace(from='$BASE_URL', to=config.base_url) }}">
        {{ nav.name }}
      </a>
      {% endfor %}
      {% endif %}
      {% endfor %}
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
