{% extends "base.html" %}

{% block content %}
<h1 class="heading">TWI Booru Stats</h1>
<div class="container">
  <section>
    Welcome to the statistics page for The Wandering Inn Booru! I hope you enjoy all the pretty charts. :)
  </section>
  <section>
    Watch all the numbers go up!
  </section>
  <section>
    If you somehow managed to get here by some way other than <a href="https://fanworks.wanderinginn.com">the Booru</a>. Be sure to check it out.
  </section>
</div>
{% endblock content %}
