{% macro tag_count_table(filename, type="text") %}
{% set data = load_data(path="js/data/" ~ filename) %}
{% set columns = ["Tag", "Uses"] %}
<table class="table sortable">
  <thead>
    <tr>
      {% for col in columns %}
      <th>{{ col }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for tag, uses in data["uses"] %}
    <tr>
      <td><a href="https://fanworks.wanderinginn.com/post/list/{{ tag }}/1">{{ tag }}</a></td>
      <td>{{ uses }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro table %}


{% macro uploader_table(filename, type="text") %}
{% set data = load_data(path="js/data/" ~ filename) %}
{% set columns = ["Uploader", "Uploads"] %}
<table class="table sortable">
  <thead>
    <tr>
      {% for col in columns %}
      <th>{{ col }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for uploader, uploads in data %}
    <tr>
      <td><a href="https://fanworks.wanderinginn.com/user/{{ uploader }}">{{ uploader }}</a></td>
      <td>{{ uploads }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro table %}

{% macro scroll_to_table() %}
<a id="table-link" style="position: absolute; left: 1rem; top: 5rem; cursor: pointer;">↓ Table ↓</a>
<script>
document.getElementById("table-link").addEventListener("click", () => {
  let table = document.querySelector("table");
  window.scrollTo({top: table.getBoundingClientRect().y - 90, left: 0, behavior:"smooth"})
});
</script>
{% endmacro scroll_to_table %}
